/* :root {

} */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    background: #fff;
    max-width: 100vw;
    min-width: 300px;
    overflow-x: hidden;
    text-rendering: optimizeLegibility;
}

.grid-container {
    font-size: 62.5%;
    font-family: 'Inter', sans-serif;
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
}

code {
    display: flex;
    border-radius: 10px;
    background-color: #f7f7f7;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 200px;
    height: 1000px;
    white-space: pre-line;
    word-break: normal;
    word-wrap: normal;
}


/* navbar */

.header-container {
    display: flex;
    flex-direction: column;
    margin: 10px;
}

.title {
    display: flex;
    align-items: center;
}


header, h1 {
    font-size: 1.8rem;
    font-weight: 500;
    text-align: left;
}

h1 {
    padding-left: 5px;
}

#navbar {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    margin: 0 0 20px 0;
    height: 100%;
    overflow-y: auto;
    overflow-x: hidden;
}

li {
    width: max-content;
    margin-left: 10px;
    font-size: 1.2rem;
}

a {
    display: block;
    padding: 10px 30px;
    text-decoration: none;
    cursor: pointer;
    color: #43853d;
}

a:hover {
    background-color: #43853d;
    color: #fff;
    border-radius: 5px;
}

a:active {
    background-color: #026e00;
    color: #fff;
} 


/* divider */

.divider {
    width: 300px;
}