:root {
    --section-codeColor: #050505;
    --section-codeFont: #528290;
    --span-codeColor: #fafafa;
    --border-codeColor: #e6e2e2;
    --background-codeError: #1f0e0e;
    --border-codeError: #ff9f9f;
    --link-hoverBgColor: #43853d;
    --link-selectedBgColor: #026e00;
    --link-releaseColor: #719af4;
    /* light mode */
    --background-light: #fff;
    --link-fontLight: #43853d;
    /* dark mode */
    --background-dark: #313131;
    --link-fontDark: #84ba64;
    --font-generalDark: #fff;
    --headerCode-bgcolor: #383850;

}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    max-width: 100vw;
    overflow-x: hidden;
    text-rendering: optimizeLegibility;
    scroll-behavior: smooth;
}

.grid-container {
    background: var(--background-light);
    font-size: 62.5%;
    font-family: 'Inter', sans-serif;
    display: flex;
    justify-items: center;
    position: relative;
}

header code,
h2 code {
    display: flex;
    border-radius: 10px;
    background-color: var(--span-codeColor);
    align-items: center;
    justify-content: center;
    text-align: center;
    width: fit-content;
    height: fit-content;
    white-space: pre-line;
    word-break: normal;
    word-wrap: normal;
    border: 1px solid var(--border-codeColor);
    padding: 0 10px;
}


/* navbar */

.header-container {
    display: flex;
    flex-direction: column;
    margin: 10px;
}

.title {
    display: flex;
    align-items: center;
}


header, h1 {
    font-size: 1.8rem;
    font-weight: 500;
    text-align: left;
}

h1 {
    padding-left: 5px;
}

#navbar {
    position: sticky;
    top: 0;
    left: 0;
    min-width: 25rem;
    height: 100vh;
    margin: 0 0 20px 0;
    overflow-y: auto;
    overflow-x: hidden;
}

ul {
    margin-bottom: 10px;
}

li {
    width: max-content;
    margin-left: 10px;
    font-size: 1.2rem;
}

li a {
    display: block;
    padding: 10px 30px;
    text-decoration: none;
    cursor: pointer;
    color: var(--link-fontLight);
}

a:hover {
    background-color: var(--link-hoverBgColor);
    color: #fff;
    border-radius: 5px;
}

a:active {
    background-color: var(--link-selectedBgColor);
    color: #fff;
} 

.selected {
    background-color: var(--link-selectedBgColor);
    border-radius: 5px;
    color: #fff;
}

/* main */

.head {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: 15px;
}

main {
    max-width: 100vw;
    margin: 15px 0 30px 30px;
    padding: 10px 40px 0 20px;
    line-height: 1.5;
    display: flex;
    flex-direction: column;
}

main > div {
    margin-bottom: 80px;
}

section {
    display: flex;
    flex-direction: column;
}

article {
    margin: 25px 0;
    display: flex;
    flex-direction: column;
    max-width: 90%;
}

.main-section {
    margin-bottom: 50px;
}

.main-section article > div {
    display: grid;
    grid-template-columns: 80% 20%;
    margin-bottom: 10px;
}

.release-box {
    height: max-content;
    max-height: 100px;
    max-width: 110px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: var(--span-codeColor);
    border: 1px solid var(--border-codeColor);
    border-radius: 10px;
    padding: 10px 25px;
    margin-left: 60px;
}

.release-box p {
    font-size: 0.8rem;
    margin-left: 0;
    margin-bottom: 0;
}

.release-box p a{
    color: var(--link-releaseColor);
}

.release-box p a:hover {
    color: var(--link-selectedBgColor);
    background-color: unset;
}

p {
    font-size: 1rem;
    margin-left: 5px;
    margin-bottom: 20px;
}

p code {
    display: inline;
    background-color: var(--span-codeColor);
    border-radius: 5px;
    padding: 0 3px;
    border: 1px solid var(--border-codeColor);
}

.example {
    font-weight: 500;
    margin: 40px 0 25px 15px;
}

section {
    height: fit-content;
}

section pre {
    position: relative;
    background-color: var(--section-codeColor);
    color: var(--section-codeFont);
    max-width: 800px;
    padding: 0 20px;
    border-radius: 20px;
    margin-bottom: 30px;
}

.info {
    color: var(--span-codeColor);
    background-color: var(--background-dark);
    width: fit-content;
    padding: 7px;
    border-radius: 5px;
    position: relative;
}

.info::before {
    content: "";
    background-color: var(--background-dark);
    position: absolute;
    top: -7px;
    left: 10px;
    width: 0;
    height: 0;
    border-bottom: 20px solid transparent;
    border-left: 20px solid transparent;
    transform: rotate(45deg);
}

.error {
    margin-top: 10px;
    color: var(--span-codeColor);
    background-color: var(--background-codeError);
    width: fit-content;
    padding: 7px;
    border-left: 2px solid var(--border-codeError);
}

.wavy {
    
    text-decoration:underline wavy red;
    text-underline-offset: 4px;   
}

.text-linked {
    padding: 4px;
    color: var(--link-fontLight);
    text-decoration: none;
    
}

section pre code {
    font-size: 1rem;
    min-width: fit-content;
    
}

#header code {
    font-size: 1.2rem;
}

pre {
    display: inline;
    white-space: pre-wrap;
}

#Intrinsic_String_Manipulation_Types article > header {
    margin: 20px 0;
    font-size: 1.8rem;
} 

#Intrinsic_String_Manipulation_Types article p {
    margin: 25px 0;
}

.last {
    font-size: 1.5rem;
}

/* dark-mode toggle */

.main-section > div {
    display: flex;
    justify-content: space-between;
    align-items: center;
}



#darkmode-container {
    background-color: #f8f8f8;
    position: relative;
    width: 80px;
    height: 40px;
    box-shadow: inset 0px 5px 15px rgba(0, 0, 0, 0.4), inset 0px -5px 15px rgba(255, 255, 255, 0.4);
    border-radius: 25px;
    cursor: pointer;
    transition: 0.3s;
}

#darkmode-container.active {
    background: #242424;
}

.toggle {
    position: absolute;
    top: 0;
    left: 0;
    width: 40px;
    height: 40px;
    transform: scale(.75);
    background: linear-gradient(180deg, #ffcc89, #d88606);
    border-radius: 25px;
    box-shadow: 3px 3px 8px #c4c4c4, -3px -3px 8px #fff;
    transition: 0.3s;
}

#darkmode-container.active .toggle {
    left: 40px;
    background: linear-gradient(180deg, #777, #3a3a3a);
    transition: 0.3s;
    
}

#darkmode-container svg {
    position: absolute;
    width: 24px;
    top: 5px;
    z-index: 100;
}

#darkmode-container svg.sun {
    left: 8px;
    fill: #fff;
    transition: 0.3s;
}

#darkmode-container svg.moon {
    left: 48px;
    fill: #7e7e7e;
    transition: 0.3s;
}

#darkmode-container.active svg.sun {
    fill: #7e7e7e;
}

#darkmode-container.active svg.moon {
    fill: #fff;
}

body.active {
    background-color: var(--background-dark);
    color: var(--font-generalDark);
}

.active {
    color: var(--link-fontDark);
}

.header-code.active,
.release-box.active {
    background-color: var(--headerCode-bgcolor);
    color: var(--font-generalDark)
}

.none {
    display: none;  /* just for freecodecamp validation */
}

/* back to top btn */

.back-to-top {
    position: fixed;
    bottom: 2rem;
    right: 2rem;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background-color: var(--link-fontLight);
    text-decoration: none;
    border-radius: 0.5rem;
    padding: 0.5rem;
    transition: 0.2s ease-out;
}

.back-to-top span {
    color: var(--background-codeError);
    font-size: 2rem;
    transition: 0.2s ease-out;
}

.back-to-top:hover {
    background-color: var(--link-selectedBgColor);
}

.back-to-top:hover span {
    transform: translateY(-4px);
}

/* medias */

@media screen and (max-width: 1440px) {

    .main-section article > div {
        position: relative;
    }

    .release-box {
        position: absolute;
        top: -75px;
        right: -90px;
        margin-right: 20px;
    }
}

@media screen and (max-width: 1060px) {

    .release-box {
        display: none;
    }
}

@media screen and (max-width: 925px) {

    main {
        max-width: unset;
    }

    .release-box {
        display: none;
    }

    ul {
        display: none;
    }

    #navbar {
        display: block;
        position: static;
        height: max-content;
    }

    .grid-container {
        flex-direction: column;
    }

    #darkmode-container {
        position: absolute;
        top: 0;
        right: 0;
        margin: 20px;
    }
}

@media screen and (max-width: 500px) {
    #navbar {
        min-width: 12rem;
    }

    header, h1 {
        font-size: 1rem;
    }

    p{
        font-size: 0.8rem;
    }

    section pre code, .last {
        font-size: 0.6rem;
    }

    .back-to-top {
        margin-bottom: 20px;
    }
}